.packing-list{
    .family-member-list{
        h3{}
        .item-category{
            margin: 1em 0 0;
        }
        .item-list{
            margin-bottom:40px;
            label{
                display:block;
            }
        }
    }   
    
}